html {
  scroll-behavior: smooth;
  
}
/*Elements*/
body {
  font-family: "Montserrat";
  font-weight: 400;
  color: #20355b;
  font-size: 1.2rem;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/*Headings*/
.big-heading {
  font-family: "Italiana";
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.5;
}

/*All Document*/
.container-fluid {
  padding: 5% 15%;
}
.color1-section {
  background: #b2d9d7;
}

.color2-section {
  background: #b4d4bc;
}

.first-row {
  margin-top: 3rem;
}

.row-space {
  margin-top: 15px;
}

.link {
  text-decoration: none;
  color: #20355b;
}

.link:hover {
  color: #f2fff5;
  text-decoration: solid underline 2px;
}

.c-row {
  padding-top: 5%;
  margin-top: 5%;
}

/*NavBar*/
.logo {
  width: 80px;
}

.nav-item {
  padding: 0 18px;
  color: #20355b;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 1rem;
}

/*Title*/
.me-img {
  border-radius: 100%;
  width: 70%;
  display: block;
  margin: 5% auto;
}

.title-container {
  margin-top: auto;
  margin-bottom: auto;
}

/*Skills*/

.card {

  background-color: transparent;
  margin: 2rem 0;
  border: solid 2px #f2fff5;
}


/*Projects*/
.site-img{
  width: 100%;
  border: solid #f2fff5;
}

.velupy{
  font-weight: bold;
}


/*Contact*/
.bi {
  font-size: 2rem;
  padding: 5px 10px;
}

.contact {
  text-align: center;
  color: #20355b;
}

@media only screen and (max-width: 600px){
  .mailmobil{
    font-size: 1rem;
  }
}