html {
  scroll-behavior: smooth;
  
}
/*Elements*/
body {
  font-family: "Montserrat";
  font-weight: 400;
  color: #20355b;
  font-size: 1.2rem;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}




/*Headings*/
.big-heading {
  font-family: "Italiana";
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.h2-sticky1 {
  padding: 5% 0;
  margin-top: 5%;
  position: sticky;
  position: -webkit-sticky;
  top: 0%;
  background-color: #b2d9d7;
}

.h2-sticky2 {
  padding: 5% 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0%;
  background-color: #b4d4bc;
}

/*All Document*/
.container-fluid {
  padding: 2% 15% 5% 15%;
}
.color1-section {
  background: #b2d9d7;
}

.color2-section {
  background: #b4d4bc;
}

.color3-section {
  background: #f2fff5;
}

/*NavBar*/
.navbar {
  padding-bottom: 2rem;
  padding-top: 5%;
}

.logo {
  width: 80px;
}

.nav-item {
  padding: 0 18px;
  color: #20355b;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 1rem;
}


.me-img {
  border-radius: 100%;
  width: 70%;
  display: block;
  margin: 5% auto;
}

.first-row {
  margin-top: 3rem;
}

.row-space {
  margin-top: 15px;
}

.title-container {
  margin-top: auto;
  margin-bottom: auto;
}

.card {
  z-index: -1;
  background-color: transparent;
  margin: 2rem 0;
  border: solid 2px #f2fff5;
}


.site-img{
  width: 100%;
  border: solid #f2fff5;
}

.bi {
  font-size: 2rem;
  padding: 5px 10px;
}

.contact {
  text-align: center;
  color: #20355b;
}

.link {
  text-decoration: none;
  color: #20355b;
}

.link:hover {
  color: #f2fff5;
  text-decoration: solid underline 2px;
}

.c-row {
  padding-top: 5%;
  margin-top: 5%;
}

.velupy{
  font-weight: bold;
}

.screen {
  height: 100vh;
}



.vertical {
  z-index: 1;
  position: relative;
}

.vertical-content {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 2%;
  padding-bottom: 5%;
}

section:nth-of-type(2) {
  height: 210vh;
}
section:nth-of-type(3) {
  height: 160vh;
}
section:nth-of-type(4) {
  height: 210vh;
}
section:nth-of-type(5) {
  height: 320vh;
}
section:nth-of-type(6) {
  height: 100vh;
}

.w3-animate-opacity{
  animation-delay: 30ms;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  section:nth-of-type(2) {
    height: 200vh;
  }
  section:nth-of-type(3) {
    height: 200vh;
  }
  section:nth-of-type(4) {
    height: 290vh;
  }
  section:nth-of-type(5) {
    height: 260vh;
  }
  section:nth-of-type(6) {
    height: 100vh;
  }
  .screen {
    height: 100vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601 px) and (max-width: 992 px) {
  section:nth-of-type(2) {
    height: 190vh;
  }
  section:nth-of-type(3) {
    height: 280vh;
  }
  section:nth-of-type(4) {
    height: 210vh;
  }
  section:nth-of-type(5) {
    height: 190vh;
  }
  section:nth-of-type(6) {
    height: 160vh;
  }
  .screen {
    height: 60vh;
  }
}

/* Portrait tablet to landscape and desktop 
@media (min-width: 768px) and (max-width: 979px) {
  section:nth-of-type(2) {
    height: 150vh;
  }
  section:nth-of-type(3) {
    height: 150vh;
  }
  section:nth-of-type(4) {
    height: 150vh;
  }
  section:nth-of-type(5) {
    height: 100vh;
  }
  section:nth-of-type(6) {
    height: 160vh;
  }
  .screen {
    height: 110vh;
  }
}*/
